#logo {
    height: 50px;
    width: 50px;
}

#miss {
    font-size: 50px;
}

#p1 {
    font-size: 20px;
}

#m1 {
    font-size: 20px;
}

#im {
    height: 200px;
    width: 200px;
}