.a.navlink{
    margin-right: 50px;
    font-size: 800px;
    }

body {
    background-color: aliceblue;
}

#logo {
    height: 50px;
    width: 50px;
}

#mar {
    background-color: azure;
}

